.messaggio{
    width: 1000px;
}

.formInserimento{
    width:300px;
    border-color: black;
}


.inserimento{
    background-color: green; 
    border-color: darkgreen;
    color:white;
}

.insAutore{
    width:500px; 
    border-radius: 5px;
}
.insTesto{
    width: 500px; 
    border-radius: 5px;
    height: 100px;
}